.Image {
    display: flex;
    justify-content: center;
}

.Producto {
    text-align: center;
}

.Name {
    text-align: center;
    margin-top: 20px !important;
}

.Boton {
    display: flex;
    justify-content: center;
    margin: 10px 0 10px 0;
}

.Descripcion {
    text-align: center;
    font-size: 12px !important;
}

.Categoria {
    font-size: 12px !important;
    font-style: italic !important;
}

.Detalle {
    display: flex;
    justify-content: space-around;
    margin: 20px 0 20px 0;
}