.Image {
    display: flex;
    justify-content: center;
}

.Producto {
    text-align: center;
}

.Boton {
    display: flex;
    justify-content: center;
    margin: 10px 0 10px 0;
}

.Descripcion {
    text-align: center;
    font-size: 12px !important;
}

.Categoria {
    font-size: 12px !important;
    font-style: italic !important;
}