.Bienvenido {
    margin: 10px 0px 10px 0px !important;
    text-align: center;
}

.Items {
    display: flex;
    justify-content: space-around;
}

.Loop {
    display: flex;
    justify-content: center;
    width: 500px;
}

.Detalle {
    display: flex;
    justify-content: center;
}